In [2]:
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data = pd.read_csv("adult.csv")

In [9]:
df = data.replace('?', np.nan)
df.isna()
df = df.dropna()
print(df)

       age         workclass  fnlwgt     education  education.num  \
1       82           Private  132870       HS-grad              9
3       54           Private  140359       7th-8th              4
4       41           Private  264663  Some-college             10
5       34           Private  216864       HS-grad              9
6       38           Private  150601          10th              6
7       74         State-gov   88638     Doctorate             16
8       68       Federal-gov  422013       HS-grad              9
10      45           Private  172274     Doctorate             16
11      38  Self-emp-not-inc  164526   Prof-school             15
12      52           Private  129177     Bachelors             13
13      32           Private  136204       Masters             14
15      46           Private   45363   Prof-school             15
16      45           Private  172822          11th              7
17      57           Private  317847       Masters             14
19      34           Private  203034     Bachelors             13
20      37           Private  188774     Bachelors             13
21      29           Private   77009          11th              7
22      61           Private   29059       HS-grad              9
23      51           Private  153870  Some-college             10
25      21           Private   34310     Assoc-voc             11
26      33           Private  228696       1st-4th              2
27      49           Private  122066       5th-6th              3
28      37      Self-emp-inc  107164          10th              6
29      38           Private  175360          10th              6
30      23           Private   44064  Some-college             10
31      59      Self-emp-inc  107287          10th              6
32      52           Private  198863   Prof-school             15
33      51           Private  123011     Bachelors             13
34      60  Self-emp-not-inc  205246       HS-grad              9
35      63       Federal-gov   39181     Doctorate             16
...    ...               ...     ...           ...            ...
32525   58           Private  147707          11th              7
32526   30           Private   77266       HS-grad              9
32527   26           Private  191648    Assoc-acdm             12
32529   32           Private  211349          10th              6
32530   22           Private  203715  Some-college             10
32531   31           Private  292592       HS-grad              9
32532   29           Private  125976       HS-grad              9
32535   34           Private  204461     Doctorate             16
32536   54           Private  337992     Bachelors             13
32537   37           Private  179137  Some-college             10
32538   22           Private  325033          12th              8
32539   34           Private  160216     Bachelors             13
32540   30           Private  345898       HS-grad              9
32542   45         State-gov  252208       HS-grad              9
32545   45         Local-gov  119199    Assoc-acdm             12
32546   31           Private  199655       Masters             14
32547   39         Local-gov  111499    Assoc-acdm             12
32548   37           Private  198216    Assoc-acdm             12
32549   43           Private  260761       HS-grad              9
32550   43         State-gov  255835  Some-college             10
32551   43  Self-emp-not-inc   27242  Some-college             10
32552   32           Private   34066          10th              6
32553   43           Private   84661     Assoc-voc             11
32554   32           Private  116138       Masters             14
32555   53           Private  321865       Masters             14
32556   22           Private  310152  Some-college             10
32557   27           Private  257302    Assoc-acdm             12
32558   40           Private  154374       HS-grad              9
32559   58           Private  151910       HS-grad              9
32560   22           Private  201490       HS-grad              9

           marital.status         occupation    relationship  \
1                 Widowed    Exec-managerial   Not-in-family
3                Divorced  Machine-op-inspct       Unmarried
4               Separated     Prof-specialty       Own-child
5                Divorced      Other-service       Unmarried
6               Separated       Adm-clerical       Unmarried
7           Never-married     Prof-specialty  Other-relative
8                Divorced     Prof-specialty   Not-in-family
10               Divorced     Prof-specialty       Unmarried
11          Never-married     Prof-specialty   Not-in-family
12                Widowed      Other-service   Not-in-family
13              Separated    Exec-managerial   Not-in-family
15               Divorced     Prof-specialty   Not-in-family
16               Divorced   Transport-moving   Not-in-family
17               Divorced    Exec-managerial   Not-in-family
19              Separated              Sales   Not-in-family
20          Never-married    Exec-managerial   Not-in-family
21              Separated              Sales   Not-in-family
22               Divorced              Sales       Unmarried
23     Married-civ-spouse   Transport-moving         Husband
25     Married-civ-spouse       Craft-repair         Husband
26     Married-civ-spouse       Craft-repair   Not-in-family
27     Married-civ-spouse      Other-service         Husband
28          Never-married   Transport-moving   Not-in-family
29          Never-married     Prof-specialty   Not-in-family
30              Separated      Other-service   Not-in-family
31                Widowed    Exec-managerial       Unmarried
32               Divorced    Exec-managerial   Not-in-family
33               Divorced    Exec-managerial   Not-in-family
34          Never-married    Exec-managerial   Not-in-family
35               Divorced    Exec-managerial   Not-in-family
...                   ...                ...             ...
32525  Married-civ-spouse              Sales         Husband
32526            Divorced   Transport-moving   Not-in-family
32527       Never-married  Machine-op-inspct  Other-relative
32529  Married-civ-spouse   Transport-moving         Husband
32530       Never-married       Adm-clerical       Own-child
32531  Married-civ-spouse  Machine-op-inspct            Wife
32532           Separated              Sales       Unmarried
32535  Married-civ-spouse     Prof-specialty         Husband
32536  Married-civ-spouse    Exec-managerial         Husband
32537            Divorced       Adm-clerical       Unmarried
32538       Never-married    Protective-serv       Own-child
32539       Never-married    Exec-managerial   Not-in-family
32540       Never-married       Craft-repair   Not-in-family
32542           Separated       Adm-clerical       Own-child
32545            Divorced     Prof-specialty       Unmarried
32546            Divorced      Other-service   Not-in-family
32547  Married-civ-spouse       Adm-clerical            Wife
32548            Divorced       Tech-support   Not-in-family
32549  Married-civ-spouse  Machine-op-inspct         Husband
32550            Divorced       Adm-clerical  Other-relative
32551  Married-civ-spouse       Craft-repair         Husband
32552  Married-civ-spouse  Handlers-cleaners         Husband
32553  Married-civ-spouse              Sales         Husband
32554       Never-married       Tech-support   Not-in-family
32555  Married-civ-spouse    Exec-managerial         Husband
32556       Never-married    Protective-serv   Not-in-family
32557  Married-civ-spouse       Tech-support            Wife
32558  Married-civ-spouse  Machine-op-inspct         Husband
32559             Widowed       Adm-clerical       Unmarried
32560       Never-married       Adm-clerical       Own-child

                     race     sex  capital.gain  capital.loss  hours.per.week  \
1                   White  Female             0          4356              18
3                   White  Female             0          3900              40
4                   White  Female             0          3900              40
5                   White  Female             0          3770              45
6                   White    Male             0          3770              40
7                   White  Female             0          3683              20
8                   White  Female             0          3683              40
10                  Black  Female             0          3004              35
11                  White    Male             0          2824              45
12                  White  Female             0          2824              20
13                  White    Male             0          2824              55
15                  White    Male             0          2824              40
16                  White    Male             0          2824              76
17                  White    Male             0          2824              50
19                  White    Male             0          2824              50
20                  White    Male             0          2824              40
21                  White  Female             0          2754              42
22                  White  Female             0          2754              25
23                  White    Male             0          2603              40
25                  White    Male             0          2603              40
26                  White    Male             0          2603              32
27                  White    Male             0          2603              40
28                  White    Male             0          2559              50
29                  White    Male             0          2559              90
30                  White    Male             0          2559              40
31                  White  Female             0          2559              50
32                  White    Male             0          2559              60
33                  White    Male             0          2559              50
34                  Black    Male             0          2559              50
35                  White  Female             0          2559              60
...                   ...     ...           ...           ...             ...
32525               White    Male             0             0              40
32526               White    Male             0             0              55
32527               White  Female             0             0              15
32529               White    Male             0             0              40
32530               White    Male             0             0              40
32531               White  Female             0             0              40
32532               White  Female             0             0              35
32535               White    Male             0             0              60
32536  Asian-Pac-Islander    Male             0             0              50
32537               White  Female             0             0              39
32538               Black    Male             0             0              35
32539               White  Female             0             0              55
32540               Black    Male             0             0              46
32542               White  Female             0             0              40
32545               White  Female             0             0              48
32546               Other  Female             0             0              30
32547               White  Female             0             0              20
32548               White  Female             0             0              40
32549               White    Male             0             0              40
32550               White  Female             0             0              40
32551               White    Male             0             0              50
32552  Amer-Indian-Eskimo    Male             0             0              40
32553               White    Male             0             0              45
32554  Asian-Pac-Islander    Male             0             0              11
32555               White    Male             0             0              40
32556               White    Male             0             0              40
32557               White  Female             0             0              38
32558               White    Male             0             0              40
32559               White  Female             0             0              40
32560               White    Male             0             0              20

      native.country income
1      United-States  <=50K
3      United-States  <=50K
4      United-States  <=50K
5      United-States  <=50K
6      United-States  <=50K
7      United-States   >50K
8      United-States  <=50K
10     United-States   >50K
11     United-States   >50K
12     United-States   >50K
13     United-States   >50K
15     United-States   >50K
16     United-States   >50K
17     United-States   >50K
19     United-States   >50K
20     United-States   >50K
21     United-States  <=50K
22     United-States  <=50K
23     United-States  <=50K
25     United-States  <=50K
26            Mexico  <=50K
27            Greece  <=50K
28     United-States   >50K
29     United-States   >50K
30     United-States   >50K
31     United-States   >50K
32     United-States   >50K
33     United-States   >50K
34     United-States   >50K
35     United-States   >50K
...              ...    ...
32525  United-States  <=50K
32526  United-States  <=50K
32527  United-States  <=50K
32529  United-States  <=50K
32530  United-States  <=50K
32531  United-States  <=50K
32532  United-States  <=50K
32535  United-States   >50K
32536          Japan   >50K
32537  United-States  <=50K
32538  United-States  <=50K
32539  United-States   >50K
32540  United-States  <=50K
32542  United-States  <=50K
32545  United-States  <=50K
32546  United-States  <=50K
32547  United-States   >50K
32548  United-States  <=50K
32549         Mexico  <=50K
32550  United-States  <=50K
32551  United-States  <=50K
32552  United-States  <=50K
32553  United-States  <=50K
32554         Taiwan  <=50K
32555  United-States   >50K
32556  United-States  <=50K
32557  United-States  <=50K
32558  United-States   >50K
32559  United-States  <=50K
32560  United-States  <=50K

[30162 rows x 15 columns]

In [8]:
df=df.drop(['fnlwgt', 'education'], axis=1, inplace=True)
df['income'] = pd.factorize(df['income'])[0].astype(np.uint16)

AttributeError: 'NoneType' object has no attribute 'drop'